@page "/syncfusion"
@using SyncfusionLayout.Interfaces
@using SyncfusionLayout.Services
@using SyncfusionLayout.Models
@using Syncfusion.Blazor
@using Syncfusion.Blazor.Charts
@using Syncfusion.Blazor.Buttons
@using Syncfusion.Blazor.DropDowns
@using System.Text;
@using System.Text.Json;
@using Microsoft.JSInterop;
@inject IDatabase<TdmsFile> TdmsFileService
@rendermode InteractiveServer

<PageTitle>SyncfusionChart</PageTitle>
<h3>SyncfusionChart</h3>

<div id="listbox-control">
    <h4>Select a TDMS File:</h4>
    <ul>
        @foreach (var file in tdmsFiles)
        {
            <li @onclick="() => OnFileClick(file)">@file.FileName</li>
        }
    </ul>
</div>
<SfChart ID="chart" Width="100%" Height="100%" Title="TDMS Data Chart">
    <ChartArea>
        <ChartAreaBorder Width="0" />
    </ChartArea>
    <ChartPrimaryXAxis ValueType="Syncfusion.Blazor.Charts.ValueType.Double">
        <ChartAxisMajorGridLines Width="0" />
        <ChartAxisMajorTickLines Width="0" />
        <ChartAxisCrosshairTooltip Enable="true" />
    </ChartPrimaryXAxis>
    <ChartPrimaryYAxis Maximum="0.1">
        <ChartAxisLineStyle Width="0" />
        <ChartAxisMajorTickLines Width="0" />
        <ChartAxisCrosshairTooltip Enable="true" />
    </ChartPrimaryYAxis>
    <ChartCrosshairSettings Enable="true" LineType="LineType.Both" />
    <ChartTooltipSettings Enable="true" />
    <ChartLegendSettings EnableHighlight="true" />
    <ChartSeriesCollection>
        <ChartSeries DataSource="@chartData" XName="Time" YName="Value" Type="ChartSeriesType.Spline">
        </ChartSeries>
    </ChartSeriesCollection>
</SfChart>
<style>
    #listbox-control {
        width: 350px;
        margin: auto;
        padding-top: 35px;
        padding-bottom: 35px;
    }
    
        #listbox-control {
            width: 100%;
        }
    }
</style>
@code {
    private List<TdmsFile> tdmsFiles;
    private List<ChartData> chartData;
    private List<double> dataList = new List<double>();

    protected override async Task OnInitializedAsync()
    {
        try
        {
            tdmsFiles = new List<TdmsFile>();
            var files = await TdmsFileService.GetAsync();
            if (files != null)
            {
                tdmsFiles.AddRange(files);
            }
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error loading files: {ex.Message}");
        }
    }

    private void OnFileClick(TdmsFile file)
    {
        if (file != null && file.Data != null)
        {
            var jsonString = ConvertToUtf8String(file.Data);
            ParseJsonData(jsonString);
            chartData = ConvertToChartData(dataList);
            StateHasChanged();
        }
    }

    private string ConvertToUtf8String(byte[] data)
    {
        return Encoding.UTF8.GetString(data);
    }

    private void ParseJsonData(string json)
    {
        try
        {
            var jsonDoc = JsonDocument.Parse(json);
            var root = jsonDoc.RootElement;
            if (root.TryGetProperty("Data", out var dataElement) && dataElement.ValueKind == JsonValueKind.Array)
            {
                dataList.Clear();
                foreach (var item in dataElement.EnumerateArray())
                {
                    if (item.TryGetDouble(out double value))
                    {
                        dataList.Add(value);
                    }
                }
            }
        }
        catch (JsonException ex)
        {
            Console.WriteLine($"JSON parsing error: {ex.Message}");
        }
    }

    private List<ChartData> ConvertToChartData(List<double> dataList)
    {
        var chartDataList = new List<ChartData>();
        double time = 0;
        foreach (var value in dataList)
        {
            chartDataList.Add(new ChartData { Time = time, Value = value });
            time += 1;
        }
        return chartDataList;
    }

    public class ChartData
    {
        public double Time { get; set; }
        public double Value { get; set; }
    }
}