@page "/syncfusion"
@using SyncfusionLayout.Interfaces
@using SyncfusionLayout.Services
@using SyncfusionLayout.Models
@using Syncfusion.Blazor
@using Syncfusion.Blazor.Charts
@using Syncfusion.Blazor.Buttons
@using Syncfusion.Blazor.DropDowns
@using System.Text;
@using System.Text.Json;
@inject IDatabase<TdmsFile> TdmsFileService
@rendermode InteractiveServer

<PageTitle>SyncfusionChart</PageTitle>
<h3>SyncfusionChart</h3>

<div id="listbox-control">
    <h4>Select a TDMS File:</h4>
    <SfListBox TItem="TdmsFile" TValue="string" DataSource="@tdmsFiles" Change="@OnSelectFile">
        <ListBoxFieldSettings Text="FileName" Value="Id"></ListBoxFieldSettings>
    </SfListBox>
</div>

<SfChart ID="chart" Width="100%" Height="100%" Title="TDMS Data Chart">
    <ChartArea>
        <ChartAreaBorder Width="0" />
    </ChartArea>
    <ChartPrimaryXAxis ValueType="Syncfusion.Blazor.Charts.ValueType.Double">
        <ChartAxisMajorGridLines Width="0" />
        <ChartAxisMajorTickLines Width="0" />
        <ChartAxisCrosshairTooltip Enable="true" />
    </ChartPrimaryXAxis>
    <ChartPrimaryYAxis Maximum="0.1">
        <ChartAxisLineStyle Width="0" />
        <ChartAxisMajorTickLines Width="0" />
        <ChartAxisCrosshairTooltip Enable="true" />
    </ChartPrimaryYAxis>
    <ChartCrosshairSettings Enable="true" LineType="LineType.Both" />
    <ChartTooltipSettings Enable="true" />
    <ChartLegendSettings EnableHighlight="true" />
    <ChartSeriesCollection>
        <ChartSeries DataSource="@chartData" XName="Time" YName="Value" Type="ChartSeriesType.Spline">
        </ChartSeries>
    </ChartSeriesCollection>
</SfChart>
<style>
    #listbox-control {
        width: 350px;
        margin: auto;
        padding-top: 35px;
        padding-bottom: 35px;
    }

    #chart-container {
        margin-top: 20px;
    }

    @@media screen and (max-width: 590px) {
        #listbox-control {
            width: 100%;
        }
    }
</style>

@code {
 
    private List<TdmsFile> tdmsFiles;
    private List<ChartData> chartData;
    private string jsonContent;
    private List<double> dataList = new List<double>();

    protected override async Task OnInitializedAsync()
    {
        tdmsFiles = await TdmsFileService.GetAsync();
    }

    private async Task OnSelectFile(ChangeEventArgs args)
    {
        if (args.Value != null)
        {
            var selectedId = Convert.ToInt32(args.Value.ToString());
            var selectedFile = tdmsFiles.FirstOrDefault(f => f.Id == selectedId);

            if (selectedFile != null)
            {
                jsonContent = ConvertToBase64(selectedFile.Data);
                ParseJsonData(jsonContent);
                chartData = ConvertToChartData(dataList);
                StateHasChanged(); // 차트 데이터를 갱신
            }
        }
    }

    // void Test()
    // {
    //     int arraySize = 12800;
    //     double[] randomValues = new double[arraySize];

    //     Random random = new Random();
    //     List<double> testData = new List<double>();

    //     for (int i = 0; i < arraySize; i++)
    //     {
    //         // -1에서 1 사이의 랜덤한 double 값 생성
    //         double randomValue = (random.NextDouble() * 2) - 1;
    //         randomValues[i] = randomValue;
    //         testData.Add(randomValues[i]);
    //     }
    //     chartData = ConvertToChartData(testData);
    //     xValue = chartData.Count;
    // }

    private void ParseJsonData(string json)
    {
        try
        {
            var jsonDoc = JsonDocument.Parse(json);
            var root = jsonDoc.RootElement;
            if (root.TryGetProperty("Data", out var dataElement) && dataElement.ValueKind == JsonValueKind.Array)
            {
                foreach (var item in dataElement.EnumerateArray())
                {
                    if (item.TryGetDouble(out double value))
                    {
                        dataList.Add(value);
                    }
                }
            }
        }
        catch (JsonException ex)
        {
            Console.WriteLine($"JSON parsing error: {ex.Message}");
        }
    }

    private string ConvertToBase64(byte[] data)
    {
        return Encoding.UTF8.GetString(data);
    }

    private List<ChartData> ConvertToChartData(List<double> dataList)
    {
        var chartDataList = new List<ChartData>();
        double time = 0;

        foreach (var value in dataList)
        {
            chartDataList.Add(new ChartData
                {
                    Time = time,
                    Value = value
                });
            time += 1;
        }

        return chartDataList;
    }
} 